body{
    text-align: center;
		font-family: 'Raleway';
}
.mainCenter{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainPage{
    background-image: url(imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
		height: 100%;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 4s;
}

.logo{  
    width: 65%;
    margin: 100px;
}

.leftaln{
		text-align: left;
}

.navLogo{
		width: 65px;
}

.aboutUsPic{
		width: 150px;
}

.marginSection{
		margin-top: 50px;
		margin-bottom: 50px;
}

.boxContent{
		background-color: black;
		color: white;
}

.innerBoxContentGold{
		background-color: #f1c40f;
		border-radius: 10px;
}

.alert{
		margin-top: 10px;
		margin-bottom: 10px;
}

.subTitle{
		font-family: 'Raleway';
		font-weight: 600;
}

.padding{
		padding-top: 50px;
		padding-bottom: 50px;
		font-weight: 700;
		font-size: 62px;
}