@font-face {
   font-family: Kingthings;
   src: url(fonts/Kingthings_Foundation.ttf);
}

@font-face {
   font-family: Maragsa;
   src: url(fonts/Maragsa-Display.otf);
}

h4{
	margin-bottom:0px;
}
body{
    text-align: center;
		font-family: 'Maragsa';
		font-weight: 100;
}
.mainCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainPage{
    background-image: url(imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
		height: 100%;
}

.welcome{
		background-image: url(imgs/background.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 20px;
		padding-bottom: 1px;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 4s;
}

.logo{  
    width: 65%;
    margin: 100px;
}

.leftaln{
		text-align: left;
}

.navLogo{
		width: 65px;
}

.aboutUsPic{
		width: 150px;
}

.marginSection{
		margin-top: 50px;
		margin-bottom: 50px;
}

.boxContent{
		background-color: black;
		color: white;
}

.innerBoxContentGold{
		background-color: #f1c40f;
		border-radius: 10px;
}

.alert{
		margin-top: 10px;
		margin-bottom: 10px;
}

.subTitle{
		font-family: 'Kingthings';
		font-weight: 600;
		padding: 20px;
		margin-left: 300px;
		margin-right: 300px;
		border-radius: 25px;
}

.padding{
		padding-top: 50px;
		padding-bottom: 50px;
		font-weight: 700;
		font-size: 62px;
}

.brownWhite{
	background-color: rgb(41,31,10);
	color: white;
	font-size: 24px;
	padding: 50px;
}

.brownWhiteAlpha{
	background-color: rgba(41,31,10,0.8);
	color: white;
	margin: 30px;
	padding: 30px
}

.brownWhiteLight{
	background-color: rgb(244,238,216);
	color: rgb(41,31,10);
	margin-bottom: 50px;
}

.brownWhiteSmall{
	background-color: rgb(41,31,10);
	color: white;
	font-size: 24px;
}

.navBarBrown{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: -30px;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
  border-radius: 25px;
	font-size: 22px;
}

.banner{
		background-image: url(imgs/warfare.png);
		height: 170px;
}

.boardGameBack{
	background-image: url(imgs/boardgameMap.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 20px;
}

.headshot{
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	height: 300px;
	width: 300px;
	border: 5px solid rgb(244,238,216);
}

.headshotCircle{
	border-radius: 50%;
	height: 300px;
	width: 300px;
	border: 5px solid rgb(244,238,216);
}

.nameBox{
	background-color: rgb(244,238,216);
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	color: black;
	padding: 10px;
}

.vertAlign{
		display: inline-block;
    vertical-align: middle;
}